@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: 'Firava'; 
    src: url('Firava.ttf') format('truetype'); 
	font-weight: 100 900;
    font-style: normal;
}

/* TODO: implement ok text scaling for mobile devices */
:root {
    color-scheme: light dark;
    font-family: 'Firava', sans-serif;
    font-weight: 300;
	text-size-adjust: none;
}

body {
	margin: 0 2em 0 0;
	overflow: scroll;

	background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/images/43662656_RGZNhxyd9ptK7hO.png?1738210775');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1, h2, h3, b {
    font-weight: 700;
}

header {
	margin: 0 0 1em 0;
}

/* Header (icon, title, etc.) */
header div, h1 {
    display: inline-block;
}

h1 {
    font-size: 0;
    padding-top: calc(1rem + 1.2rem);
	font-family: 'Mochiy Pop One', sans-serif;
}

h1 span, h1 a {
    font-size: 2.5rem;
	letter-spacing: 0.03em;
}

h2, h3 {
	font-family: 'Roboto Slab', serif;
}

.icon {
    max-height: 3rem;
}

/* Cool tooltippies */
.tooltip {
    position: relative;
    display: inline-block;
}

    /* the tooltippy */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Regular body text */
body {
    max-width: 70ch;
    width: 90%;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: calc(1.3rem * 1.42);
}

.main {
	border-radius: 0.75em;
	overflow-x: hidden;
}

footer {
	color: white;
	margin-bottom: 20em;
}

.main p, .main h2, .main h3 {
	padding: 0 0.75rem;
}

/* Other stuff */
a {
    text-decoration: none;
}

nav {
    padding: 0.75rem 0;
}

nav ul {
    display: flex;
	justify-content: flex-end;
    list-style-type: none;
    overflow: hidden;

    margin: 0 auto;
    padding: 0;
	height: 100%;
}

nav li {
	padding: 0 1em; 
}

/* Light mode :D */
@media (prefers-color-scheme: light) {
    .element, .color-0 {
        color: black;
        background-color: rgba(0, 0, 0, 0);
    }

    .tooltip-text {
        background-color: rgba(85, 85, 85, 1);
        color: #fff;
    }

	body {
		background-color: #f5f5f5;
	}

	.main {
		box-shadow: 0 0 10px rgba(10, 20, 50, 0.25); 
		/* box-shadow: 3.5px 3.5px rgba(10, 20, 100, 1); */
		background-color: white;
	}

    header {
        background: linear-gradient(
            #f4d7ff,
            #5c509b
        );

        color: transparent;
        background-clip: text;

		filter: drop-shadow(3px 3px rgba(10, 20, 100, 1)); 
    }

	footer {
		filter: drop-shadow(1.5px 1.5px rgba(10, 20, 100, 1));
	}

    a {
        color: #fe3e67;
    }

    h1 a {
        background: linear-gradient(
            #ffc2c2,
            #f0226d
        );

        color: transparent;
        background-clip: text;
    }

    nav {
		background: linear-gradient(to bottom, #fe3e67, #dc1c45);
		background-color: #fe3e67;
		box-shadow: 0 5px 10px rgba(10, 20, 50, 0.25);
    }

	nav a {
		color: white;
	}

    nav ul li:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    h2, h3 {
        color: #81639f;
    }
}

/* Dark mode (for the basement dwellers */
@media (prefers-color-scheme: dark) {
    .element, .color-0 {
        color: white;
        background-color: rgba(0, 0, 0, 0);
    }

    .tooltip-text {
        background-color: #fff;
        color: rgba(85, 85, 85, 1);
    }

	body {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://f2.toyhou.se/file/f2-toyhou-se/images/43662656_RGZNhxyd9ptK7hO.png?1738210775');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}	

	.main {
		background-color: #2b2b2b;
		box-shadow: 0 0 10px rgba(10, 20, 50, 0.35); 
	}
    
    h1 {
        background: linear-gradient(
            #fffcee,
            #ffe048
        );

        color: transparent;
        background-clip: text;
    }

    a {
        color: #fe3e67;
    }

    h1 a {
        background: linear-gradient(
            #eaffdb,
            #a0bf8b
        );

        color: transparent;
        background-clip: text;
    }

    nav {
		background: linear-gradient(to bottom, #5f8863, #3d5531); 
        background-color: #2c4431;
		box-shadow: 0 5px 10px rgba(10, 20, 50, 0.35);
    }

	nav a {
		color: white;
	}		

    nav ul li:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }


    h2, h3 {
        color: #fce988;
    }

    a, .color-2 {
        color: #a0bf8b;
    }
}
