@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: light dark;
    font-family: 'Grandstander', sans-serif;
    font-weight: 300;
}

body {
    max-width: 75ch;
    width: 90%;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: calc(1.3rem * 1.42);
}

h1, h2, h3, b {
    font-weight: 700;
}


h1 {
    font-size: 0;
    padding-top: calc(1rem + 1.2rem);
}
h1 span, h1 a {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

nav {
    padding: 1rem 0;
    border-bottom: solid 2px;
    border-top: solid 2px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    text-align: center;
    overflow: hidden;

    max-width: 80%;
    margin: 0 auto;
    padding: 0;
}

/* light mode */
@media (prefers-color-scheme: light) {
    .element, .color-0 {
        color: black;
        background-color: rgba(0, 0, 0, 0);
    }

    h1 {
        background: linear-gradient(
            #f4d7ff,
            #5c509b
        );

        color: transparent;
        background-clip: text;
    }

    a {
        color: #fe3e67;
    }

    h1 a {
        background: linear-gradient(
            #ffc2c2,
            #f0226d
        );

        color: transparent;
        background-clip: text;
    }

    nav {
        background-color: #ffc2c2;
    }

    nav ul li:hover {
        background-color: #f9dede;
    }

    h2, h3 {
        color: #81639f;
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    .element, .color-0 {
        color: white;
        background-color: rgba(0, 0, 0, 0);
    }
    
    h1 {
        background: linear-gradient(
            #fffcee,
            #ffe048
        );

        color: transparent;
        background-clip: text;
    }

    a {
        color: #fe3e67;
    }

    h1 a {
        background: linear-gradient(
            #eaffdb,
            #a0bf8b
        );

        color: transparent;
        background-clip: text;
    }

    nav {
        background-color: #2c4431;
    }

    nav ul li:hover {
        background-color: #54794a;
    }


    h2, h3 {
        color: #fce988;
    }

    a, .color-2 {
        color: #a0bf8b;
    }
}