@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: light dark;
    font-family: 'Grandstander', sans-serif;
    font-weight: 300;
}

h1, h2, h3, b {
    font-weight: 700;
}

/* Header (icon, title, etc.) */
header div, h1 {
    display: inline-block;
}

h1 {
    font-size: 0;
    padding-top: calc(1rem + 1.2rem);
}

h1 span, h1 a {
    font-size: 3rem;
}

.icon {
    max-height: 3rem;
}

/* Cool tooltippies */
.tooltip {
    position: relative;
    display: inline-block;
}

    /* the tooltippy */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Regular body text */
body {
    max-width: 75ch;
    width: 90%;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: calc(1.3rem * 1.42);
}

/* Other stuff */
a {
    text-decoration: none;
}

nav {
    padding: 1rem 0;
    border-bottom: solid 2px;
    border-top: solid 2px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    text-align: center;
    overflow: hidden;

    max-width: 80%;
    margin: 0 auto;
    padding: 0;
}

/* Light mode :D */
@media (prefers-color-scheme: light) {
    .element, .color-0 {
        color: black;
        background-color: rgba(0, 0, 0, 0);
    }

    .tooltip-text {
        background-color: rgba(85, 85, 85, 1);
        color: #fff;
    }

    h1 {
        background: linear-gradient(
            #f4d7ff,
            #5c509b
        );

        color: transparent;
        background-clip: text;
    }

    a {
        color: #fe3e67;
    }

    h1 a {
        background: linear-gradient(
            #ffc2c2,
            #f0226d
        );

        color: transparent;
        background-clip: text;
    }

    nav {
        background-color: #ffc2c2;
    }

    nav ul li:hover {
        background-color: #f9dede;
    }

    h2, h3 {
        color: #81639f;
    }
}

/* Dark mode (for the basement dwellers */
@media (prefers-color-scheme: dark) {
    .element, .color-0 {
        color: white;
        background-color: rgba(0, 0, 0, 0);
    }

    .tooltip-text {
        background-color: #fff;
        color: rgba(85, 85, 85, 1);
    }
    
    h1 {
        background: linear-gradient(
            #fffcee,
            #ffe048
        );

        color: transparent;
        background-clip: text;
    }

    a {
        color: #fe3e67;
    }

    h1 a {
        background: linear-gradient(
            #eaffdb,
            #a0bf8b
        );

        color: transparent;
        background-clip: text;
    }

    nav {
        background-color: #2c4431;
    }

    nav ul li:hover {
        background-color: #54794a;
    }


    h2, h3 {
        color: #fce988;
    }

    a, .color-2 {
        color: #a0bf8b;
    }
}